<div *ngIf="selected">
  <app-comentario-detail [comentarioDetail]="selectedComentario"></app-comentario-detail>
</div>

<hr />



<div class="container-fluid">
<div class="row">
 <div *ngFor="let comentario of comentarios | paginate: { itemsPerPage: 10, currentPage: p }"  class="col mb-2">
   <div class="card p-2" style="width: 15rem; height: 33rem">
     
     <div class="card-body">
       <h5 class="card-title">{{ comentario.titulo }}</h5>
       <p class="card-text">[{{ comentario.nombre}}]</p>
     </div>
   </div>
 </div>
</div>
</div> 
<pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
