<div *ngIf="selected">
  <app-servicio-detail [servicioDetail]="selectedServicio"></app-servicio-detail>
</div>
 
 <hr />


<div class="container-fluid">
    <div class="row">
        <div *ngFor ="let servicio of servicios" class="col mb-2" >
          <div class="card p-2" style="width: 15rem; height: 15rem">
            <div class="card-body">
              <h5 class="card-title" (click)="onSelected(servicio)">{{servicio.nombre}}</h5>
              <p class="card-text">{{servicio.tipoServicio}}</p>
              <p class="card-text">Costo Adicional: </p>
              <p class="card-text">{{servicio.costoAdicional}} COP</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  