<div *ngIf="selected">
  <app-habitante-detail [habitanteDetail]="selectedHabitante"></app-habitante-detail>
</div>

<hr />

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let habitante of habitantes" class="col mb-2">
      <div class="card p-2" style="width: 15rem; height: 15rem">
        <div class="card-body">
          <h5 class="card-title">{{habitante.nombre}}</h5>
          
          <p class="card-text ">{{habitante.cedula}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

