<div class="container-fluid">
    <p class="h3 p-3">{{ viviendaDetail.nombre}}</p>
    <div class="row">
        <div class="col-2">
            <div class="thumb">
                <img
                  class="img-fluid"
                  src="{{ viviendaDetail.fotos }}"
                  alt="{{ viviendaDetail.nombre }}"
                />
            </div>
        </div>
        <div class="col">
            <dl>
                <dt>Descripcion</dt>
                <dd>{{viviendaDetail.descripcion}}</dd>
                <dt>Tipo</dt>
                <dd>{{viviendaDetail.tipo}}</dd>
                <dt>Direccion</dt>
                <dd>{{viviendaDetail.direccion}}</dd>
                <dt>Precio</dt>
                <dd>{{viviendaDetail.precio}}</dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                <dt>Tamano</dt>
                <dd>{{viviendaDetail.tamano}}</dd>
                <dt>Estrato</dt>
                <dd>{{viviendaDetail.estrato}}</dd>
                <dt>Restricciones</dt>
                <dd>{{viviendaDetail.restricciones}}</dd>
                <dt>Ocupada</dt>
                <dd>{{viviendaDetail.ocupada}}</dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                <dt>Lugares Cercanos</dt>
                <dd class ="caption" *ngFor="let lugar of viviendaDetail.lugarDeInteres_cercano">
                    {{ lugar.nombre }}
                </dd> 
            </dl>
        </div>

        <div class="col">
            <dl>
                <dt>Habitantes Actuales</dt>
                <dd class ="caption" *ngFor="let habitante of viviendaDetail.habitantes_actuales">
                    {{ habitante.nombre }}
                </dd> 
                <dt>Historial</dt>
                <dd class ="caption" *ngFor="let p_historial of viviendaDetail.historial">
                    {{ p_historial.nombre }}
                </dd>
            </dl>
        </div>
    </div>
</div>
