img {
    height: 250px;
    width: auto;
    max-width: 400px;
   }

   .card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-select, .form-range {
    margin-bottom: 0.5rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }
  
  .card img {
    cursor: pointer;
  }
  
  .card-body {
    padding: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  