
<div class="container-fluid">
  <p class="h3 p-3">{{ propietarioDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ propietarioDetail.foto }}"
          alt="{{ propietarioDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Viviendas</dt>
        <dd class="caption" *ngFor="let vivienda of propietarioDetail.viviendas">
          {{ vivienda.nombre }}
         </dd>
        <dt>Celular</dt>
        <dd>{{ propietarioDetail.celular }}</dd>
        <hr />
        <dt>Correo</dt>
        <dd>{{ propietarioDetail.correo }}</dd>
        <hr />
        <hr />
      </dl>
    </div>
  </div>
 </div>